.header.active {
    background-color: #000;
}

.header.active .navbar-nav>li>a {
    color: #fff !important;
}

.logo-img {
    height: 30px;
}

.navbar-header {
    padding: 25px 0px;
}

.titulo-simulador {
    color: #e4871a;
    font-size: 30px;
}
#logo2
{
opacity:1.0;

}
#logo2:hover{
opacity: 0.4;

}

#logo3
{
opacity:0.4;

}
#logo3:hover{
opacity: 1.0;

}



#texto
{
opacity:1.0;

}
#texto:hover{
opacity: 0.5;

}

#button
{
opacity:1.0;

}
#button:hover{
opacity: 0.7;
}