
/*
.stat-widget-five .stat-icon {
    position: initial !important; 
}

.stat-widget-five .stat-content {
    margin-left: 0px;
}*/



.alinhar-linha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fonte-do-card{
    font-size: .8em;
} 

.centralizar {
    align-items: center;
}

.navbar {
    margin-top: 40px;
}

.navbar .navbar-nav li > a {
    color: #090808;
    font-weight: 600;
}

.navbar .navbar-nav li > a .menu-icon {
    color: #090808;
    margin-top: 6px;
}

.title-bold {
    font-weight: bold;
}

.titulo-card{
    font-weight: 600;
    font-size: 1.2em;
}

.subtitulo{
    font-weight: 400;
    font-size: .8em;
}


.infoSistema {
    display: none;
}

.linha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.detalhesOff .card{
    border-radius: 0px 10px 10px 0px;
}

.card{
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.15) !important;
}

.borda-esq {
    border-left: 3px solid #c7911d;
}

.dispositivos-total {
    font-weight: 700;
    padding-right: 15px;
}

.titulo-sistemas {
    font-size: 1.4em !important;
}

.status-dispositivo {
    padding: 5px 25px;
    font-size: 1em;
    font-weight: 700;
    color: #fff;
    border-radius: 100px;
}

.small.status-dispositivo {
    font-size: 0.8em !important;
    height: 40%;
}


.on {
    background: rgb(157,255,114);
    background: linear-gradient(90deg, rgb(157, 255, 114) -25%, rgb(27, 141, 145) 150%);
}

.off {
    background: rgb(213, 31, 31);
    background:linear-gradient(90deg, rgb(255, 217, 53) -25%, rgb(213, 31, 31) 150%);
}

.texto-componentes {
    font-weight: 600;
    font-size: 0.99em;
}

.bg-white,
.content,
.page-header  {
    background-color: #f1f2f7 !important;
}

.detalhesOff,
.openGraph,
.click {
    cursor:pointer;
}

.openGraph:hover .card, 
.activeCard {
    border: 2px solid #c7911d87 !important;
    transition: all ease .3s;
}

.openGraph .card{
    border: 2px solid #fff;
}

.click:hover {
    background-color: #fbe38d73 !important;
    transition: all ease .3s;
}

select,
input {
    padding: 8px 6px;
    border-radius: 5px

}

.infoSistema .btn {
    width: 100%;
}