.stat-widget-five {
    min-height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-shadow: 0 0 1px 2px #0000001c;
    border: 1px solid #d2d2d2;
  
}

.stat-widget-five .stat-icon {
    position: initial !important; 
}

.stat-widget-five .stat-content {
    margin-left: 0px;
}

.alinhar-linha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}
.fonte-do-card{
    font-size: .8em;
}